html,
body {
  margin: 0px;
  padding: 0px;
}
h1 {
  font-family: "Bebas Neue", cursive;
  color: #363958;
  font-size: 60px;
  margin: 0;
}

h3 {
  font-family: "Bebas Neue", cursive;
  color: #363958;
  font-size: 40px;
  margin: 0;
}

h4 {
  font-family: "Roboto", sans-serif;
  color: #363958;
  font-size: 22px;
  margin: 0;
  padding-top: 5px;
}

h5 {
  font-family: "Bebas Neue", cursive;
  color: #696871;
  font-size: 22px;
  margin: 0;
  padding-top: 5px;
  text-align: center;
}

p {
  font-family: "Roboto", sans-serif;
  margin: 0;
  color: #3e3e3e;
  font-weight: 500;
  font-size: 15px;
}

.container {
  margin: 0 10% 0 10%;
}
.nav-div {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;
}
.nav-item {
  display: inline;
  padding: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #3c3c3c;
  font-size: 14px;
}

.orange-button {
  margin-top: 25px;
  width: 125px;
  padding: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: whitesmoke;
  font-size: 14px;
  background-color: #ff8367;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.top-part {
  display: flex;
  margin-top: 50px;
}

.top-left {
  min-width: 40%;
  padding-top: 50px;
}

.top-right {
  min-width: 40%;
}

.middle-left {
  min-width: 60%;
}

.middle-right {
  min-width: 40%;
  padding-top: 50px;
}

.container-flex {
  height: 500px;
  background-color: rgb(245, 245, 245);
  margin: 0px 0px 0px 0px !important;
  width: 100%;
}

.work-part {
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  margin: 10px;
  padding: 10px;
  width: 325px;
  height: 280px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 10px rgb(240, 240, 240); /*any color you want*/
}
.card-image {
  border-radius: 10px;
}

.card p {
  color: #6c6c6c;
  font-weight: 400;
  font-size: 14px;
  padding-top: 10px;
}

.center-shape {
  display: flex;
  justify-content: center;
  position: relative;
}

.inner-text {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -30%);
  color: white;
}

.inner-button {
  position: absolute;
  top: 50%;
  right: 15%;
  transform: translate(-50%, -75%);
  margin-top: 25px;
  width: 125px;
  padding: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: whitesmoke;
  font-size: 14px;
  background-color: #ff8367;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.footer {
  margin-top: 75px;
}
.footer h4 {
  text-align: center;
  font-size: 30px;
  color: #363958;
}

.footer-icons {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.footer-icons img {
  width: 50px;
  padding: 0 10px 0 10px;
}
